* { margin: 0px; padding: 0px; }
body { margin: 0px; padding: 0px; }

body {
    max-width: 1920px;
    margin: 0px auto;
}

.body-content {
    max-width: 1440px;
    margin: 0px auto;
}

:root { font-size: 16px; font-family: sans-serif; }

@media (min-width: 375px) { :root { font-size: 16.8px; } }  /* 16 * 1.05 */
@media (min-width: 425px) { :root { font-size: 17.6px; } }  /* 16 * 1.10 */
@media (min-width: 768px) { :root { font-size: 18.4px; } }  /* 16 * 1.15 */
@media (min-width: 1024px){ :root { font-size: 19.2px; } }  /* 16 * 1.20 */
@media (min-width: 1440px){ :root { font-size: 20px;   } }  /* 16 * 1.25 */
@media (min-width: 1920px){ :root { font-size: 20.8px; } }  /* 16 * 1.30 */

.grid-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Clamp method */

/* 

    :root { font-size: clamp(16px, 0.3vw + 15.04px, 20.8px) }

 */

/* Grid box */

h1 {
    font-size: 2rem;

    background-color: black;
    color: white;
    padding: 1rem;
    /* Span whole page */
    grid-column: span 12;
}