* { margin: 0px; padding: 0px; }
body { margin: 0px; padding: 0px; }

body {
    max-width: 1920px;
    margin: 0px auto;
}

.body-content {
    max-width: 1440px;
    margin: 0px auto;
}

:root { font-size: 16px; font-family: sans-serif; }

@media (min-width: 375px) { :root { font-size: 16.8px; } }  /* 16 * 1.05 */
@media (min-width: 425px) { :root { font-size: 17.6px; } }  /* 16 * 1.10 */
@media (min-width: 768px) { :root { font-size: 18.4px; } }  /* 16 * 1.15 */
@media (min-width: 1024px){ :root { font-size: 19.2px; } }  /* 16 * 1.20 */
@media (min-width: 1440px){ :root { font-size: 20px;   } }  /* 16 * 1.25 */
@media (min-width: 1920px){ :root { font-size: 20.8px; } }  /* 16 * 1.30 */

/* Clamp method */
/* 

    :root { font-size: clamp(16px, 0.3vw + 15.04px, 20.8px) }

 */

/* Grid box */
.grid-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
}

h1 {
    font-size: 2rem;

    background-color: black;
    color: white;
    padding: 1rem;
    /* Span whole page */
    grid-column: span 12;
}

h2 {
    background-color: rgb(122, 50, 50);
    color: white;
    font-size: 1.5rem;
    border-radius: 20px;
    /* Span content width */
    grid-column: 2 / 12;
    width: fit-content;
    
    /* Spacings */
    margin: 1rem 0px;
    padding: 1rem;
}

h3 {
    font-size: 1.17rem;
    /* Span content width */
    grid-column: 2 / 12;

    /* Spceings */
    margin: 1rem 0px;
}

p {
    font-size: 1rem;
    grid-column: 2 / 12;

    line-height: 1.6rem;
}

/* Card layout */

.column-card-view {
    display: grid;
    grid-template-columns: 1fr;   /* 1 column */
    gap: 2rem;
}

@media (min-width: 768px) {
    .column-card-view {
        grid-template-columns: repeat(2, 1fr);  /* 2 columns */
    }
}

@media (min-width: 1024px) {
    .column-card-view {
        grid-template-columns: repeat(3, 1fr);  /* 3 columns */
    }
}

/* Nav menu */