* { margin: 0px; padding: 0px; }
body { margin: 0px; padding: 0px; }

body {
    max-width: 1920px;
    margin: 0px auto;
}

.body-content {
    max-width: 1440px;
    margin: 0px auto;
}

:root { font-size: 16px; font-family: sans-serif; }

@media (min-width: 375px) { :root { font-size: 16.8px; } }  /* 16 * 1.05 */
@media (min-width: 425px) { :root { font-size: 17.6px; } }  /* 16 * 1.10 */
@media (min-width: 768px) { :root { font-size: 18.4px; } }  /* 16 * 1.15 */
@media (min-width: 1024px){ :root { font-size: 19.2px; } }  /* 16 * 1.20 */
@media (min-width: 1440px){ :root { font-size: 20px;   } }  /* 16 * 1.25 */
@media (min-width: 1920px){ :root { font-size: 20.8px; } }  /* 16 * 1.30 */

.grid-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

h2 {
    background-color: rgb(122, 50, 50);
    color: white;
    font-size: 1.5rem;
    border-radius: 20px;
    /* Span content width */
    grid-column: 2 / 12;
    width: fit-content;
    
    /* Spacings */
    margin: 1rem 0px;
    padding: 1rem;
}

h3 {
    font-size: 1.17rem;
    /* Span content width */
    grid-column: 2 / 12;

    /* Spceings */
    margin: 1rem 0px;
}

p {
    font-size: 1.1rem;

    line-height: 1.6rem;
}

/* Partners grid */

#partners-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 768px) {
    #partners-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Partners card grid */

.partners-card-grid {
    display: grid;
    grid-template-columns: repeat(12, fr);
    border: 2px solid red;
}

h3 {
    grid-column: 1/12;
}

ul {
    grid-column: 2/12;
}

/* Contact us */

#contact-us {
    margin-top: 40px;
    background-color: rgb(37, 37, 37);
    color: white;
    
    padding: 2rem;
}