* { margin: 0px; padding: 0px; }
body { margin: 0px; padding: 0px; background-color: #f4f4f4;}

#hero {
    max-width: 1440px;
    margin: 0px auto;

    /* Page padding */
    padding: 0px 1rem;
}

:root { font-size: 16px; font-family: sans-serif; }

@media (min-width: 375px) { :root { font-size: 16.8px; } }  /* 16 * 1.05 */
@media (min-width: 425px) { :root { font-size: 17.6px; } }  /* 16 * 1.10 */
@media (min-width: 768px) { :root { font-size: 18.4px; } }  /* 16 * 1.15 */
@media (min-width: 1024px){ :root { font-size: 19.2px; } }  /* 16 * 1.20 */
@media (min-width: 1440px){ :root { font-size: 20px;   } }  /* 16 * 1.25 */
@media (min-width: 1920px){ :root { font-size: 20.8px; } }  /* 16 * 1.30 */

.grid-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Banner */

#hero-banner {
  position: relative;
  min-height: 320px;   /* prevents the “100px tall” issue */
  height: 550px;

  background-image: url("hero-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* Pinnacle Partners */

#pinnacle-partners {
    margin: 2rem 0px;
}

#pinnacle-partners-banner {
    border-radius: 20px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* Partners */

#partners-h2 {
    margin: 2rem 0px 1rem 0rem;
    grid-column: 1 / 12;
}

#partners-hint {
    font-size: 0.75rem;
    font-weight: lighter;
}

#partners-grid-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem
}

@media (min-width: 768px) {
    #partners-grid-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

.partners-card {
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    background-color: white;

    align-self: start;
}

.partners-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 1rem;
    padding-left: 1.25rem;
}

.partners-list > li {
    font-size: 0.8rem;

    list-style: inside;
    padding-left: 1rem;
}